.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    background-color: rgba(187, 179, 179, 0.466);
    max-width: 400px;
    width: 100%;
}

.serch-icon {
    margin-right: 0.5rem;
    color: #888;
    font-size: 1rem;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.95rem;
    background: none;
}