.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    padding: 20px;
    padding-top: 80px;
    top: 46px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 40px; 
    border-left: 1px solid black;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.sidebar-heading {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #222;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 0.5px;
}

.sidebar-action {
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 0;
}

.home-btn {
  background: none;
  border: none;
  cursor: pointer;
}

